@using EstoqueInteligente.Web.ViewModels;
@model AnimalViewData 

@{
    ViewData["Title"] = "Home Page";
}

@* <h2>Bairros</h2>
<ul>
    @foreach (var bairro in Model.Bairros)
    {
        <li>@bairro.CodigoBairro</li>
        <li>@bairro.NomeBairro</li>
    }
</ul>
<h2>Cidades</h2>
<ul>
    @foreach (var bairro in Model.Cidades)
    {
        <li>@bairro.CodigoCidade</li>
        <li>@bairro.NomeCidade</li>
    }
</ul> *@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
